@model IEnumerable<Project.Models.Product>
<h1>Project</h1>
<h2>Lastest Products</h2>
<a href="@Url.Action("Index","Product")">All Products</a>
    
<div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>SupplierId</th>
                <th>CategoryId</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.ProductName</td>
                    <td>@product.SupplierId</td>
                    <td>@product.CategoryId</td>
                    <td>@product.UnitPrice</td>
                    <td><a href="@Url.Action("Detail", "Product", new {id = product.ProductId})">View Detail</a></td>
                    <td><a href="@Url.Action("Update", "Product", new {id = product.ProductId})">Update</a></td>
                    <td><a href="@Url.Action("DoDelete", "Product", new {id = product.ProductId})" onclick="return confirm('Are you sure you want to delete?')">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>