@using Project.Models;
@model IEnumerable<Project.Models.Product>

<!DOCTYPE html>
<html>
<head>
    <title>List Products</title>
    <link rel="stylesheet" type="text/css" href="~/style.css">
    <style>
        .pagination-container {
            text-align: center;
        }

            .pagination-container a {
                display: inline-block;
                padding: 5px 10px;
                margin: 2px;
                border: 1px solid #333;
                text-decoration: none;
                color: #333;
                border-radius: 3px;
            }

                .pagination-container a:hover {
                    background-color: #333;
                    color: #fff;
                }
        body {
            background-color: #f0f0f0;
        }
        h1 {
            color: #333;
        }
        .container {
            text-align: center;
            padding: 20px;
        }

        table {
            display: inline-block;

        }

        .create-link {
            text-decoration: none; /* Loại bỏ gạch chân mặc định */
            background-color: #007BFF; /* Màu nền khi không hover */
            color: #fff; /* Màu văn bản khi không hover */
            padding: 10px 20px;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s; /* Hiệu ứng hover trong 0.3 giây */
        }

            .create-link:hover {
                background-color: #0056b3; /* Màu nền khi hover */
            }
        a {
            display: block;
            text-align: center;
            margin-top: 20px;
            text-decoration: none;
            color: #007BFF;
        }

            a:hover {
                color: #0056b3;
            }

        .form-container {
            display: flex;
            align-items: center;
         
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 20px;
        }

            .form-container form {
                margin-right: 10px;
            }

            .form-container div {
                margin-right: 10px;
            }
        th, td {
            padding: 10px; 
            border: 1px solid #ccc;
            text-align: center;
        }

    </style>
</head>
<body>
    

    
    <div class="container">
        <h1> Product List</h1>

        

        <div class="form-container">
            <form action="Product/search">
                <div>
                    <input type="text" name="search" />
                    <button type="submit">Search</button>
                </div>
            </form>
            <div>
                <a href="@Url.Action("Create", "Product")" class="create-link">Create Product</a>
            </div>
            
            <script>
                function myCategorySort() {
                    document.getElementById("categoryId").submit();
                }
            </script>
            <div>
                <h3>Sort By SupplierId</h3>
                <a href="@Url.Action("Index", "Product", new { s = "sortAbysid" })">Sort Asc</a>
                <a href="@Url.Action("Index", "Product", new { s = "sortDbysid" })">Sort Desc</a>
            </div>

            <div>
                <h3>Sort By CategoryId</h3>
                <a href="@Url.Action("Index", "Product", new { s = "sortAbycid" })">Sort Asc</a>
                <a href="@Url.Action("Index", "Product", new { s = "sortDbycid" })">Sort Desc</a>
            </div>

            <div>
                <h3>Sort By Price</h3>
                <a href="@Url.Action("Index", "Product", new { s = "sortAByPrice" })">Sort Asc</a>
                <a href="@Url.Action("Index", "Product", new { s = "sortDByPrice" })">Sort Desc</a>
            </div>
            <form id="categoryId" action="Product/ListByCategory" style="margin-right: 10px">
                <select name="categoryId" onchange="myCategorySort()">
                    <option value="0">All Category</option>
                    <option value="1">Beverages</option>
                    <option value="2">Condiments</option>
                    <option value="3">Confections</option>
                    <option value="4">Dairy Products</option>
                    <option value="5">Grains/Cereals</option>
                    <option value="6">Meat/Poultry</option>
                    <option value="7">Produce</option>
                    <option value="8">Seafood</option>
                </select>
            </form>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Supplier Id</th>
                    <th>Category Id</th>
                    <th>Price</th>
                    <th>Action 1</th>
                    <th>Action 2</th>
                    <th>Action 3</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.ProductId</td>
                        <td>@product.ProductName</td>
                        <td>@product.SupplierId</td>
                        <td>@product.CategoryId</td>
                        <td>@product.UnitPrice</td>
                        <td><a href="@Url.Action("Detail", "Product", new { id = product.ProductId })">View Detail</a></td>
                        <td><a href="@Url.Action("Update", "Product", new { id = product.ProductId })">Update</a></td>
                        <td><a href="@Url.Action("DoDelete", "Product", new { id = product.ProductId })" onclick="return confirm('Are you sure you want to delete?')">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="pagination-container">
            @if (ViewBag.TotalPages > 1)
            {
                for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    if (i == ViewBag.CurrentPage)
                    {
                        <span>@i</span>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", new { page = i, s=ViewBag.Sort })">@i</a>
                    }
                }
            }
        </div>
    </div>
</body>
</html>
